service vendor.power.stats-hal-1-0 /vendor/bin/hw/android.hardware.power.stats@1.0-service.trinket
    class hal
    user system
    group system

# restart on boot finished because wlan stats aren't loaded till late
on property:sys.boot_completed=1
   restart vendor.power.stats-hal-1-0
